select {
    width: 50%;
}
body {
    background-image: url('sedar.jpeg');
    background-position: center;
    background-size: 100%;
    font-weight: bold;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    color: #FFFFFF;
    background-color: #00CCFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-family: Verdana;
    padding: 5px;
    border-radius: 6px;
}

table,
td,
tr {
    border: solid 2px black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-radius: 6px;
    color: #009900;
    background-color: #F2F2F2;
    padding: 1px;
}



#submit {
    color: #FFFFFF;
    background-color: #00CCFF;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    font-family: Verdana;
    font-weight: bold;
    border-radius: 6px;
}

#result {
    color: #FFFFFF;
    font-size: 20px;
}